* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol {
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'Inter-Light';
  src: url('../src/Assets/Fonts/Inter-Light.woff2') format('woff2'),
      url('../src/Assets/Fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('../src/Assets/Fonts/Inter-ExtraLight.woff2') format('woff2'),
      url('../src/Assets/Fonts/Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../src/Assets/Fonts/Inter-Medium.woff2') format('woff2'),
      url('../src/Assets/Fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('../src/Assets/Fonts/Inter-Regular.woff2') format('woff2'),
      url('../src/Assets/Fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



.App {
  width: 100%;
  box-sizing: border-box;
}
.AppGlass {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 7% auto 21%;
}